<div>
    <nav class="navbar navbar-light bg-light" id="nav">
        <a class="navbar-brand" href="/">
            <img src="https://st2.depositphotos.com/8301258/11963/v/950/depositphotos_119634124-stock-illustration-restaurant-logo-cutlery-design.jpg"
                width="80" height="80" alt="" id="logo">FLAVOURS
        </a>
        <div id="navbar">
            <ul class="nav">
                <li class="nav-item">
    <a class="nav-link" href="#">HOME</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">ABOUT</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">CONTACT</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">CART</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">SIGNOUT</a>
  </li>
            </ul>
        </div>

    </nav>
</div>
 <div class="container text-secondary">
 {{#if status}}
 <div class="h4">Booking Confirmation</div>    

      <table class="table table-hover">
          <thead class="thead-dark">
             <th>Customer</th>
             <th>Table no.</th>
             <th>Status</th>
          </thead>
          <tbody>
              <tr>
                  <td>{{data.username}}</td>
                  <td>{{data.tableNumber}}</td>
                  <td class="text-success">{{data.bookingStatus}}</td>
              </tr>
          </tbody>
      </table>
      {{else}}
      <div class="mt-4  p-4 text-italic alert-danger">
          <div class="display-2 text-center">Error!(400)</div>
      <div class="display-4 text-center alert "><em>This {{message}} already retains a booking.</em></div>
      </div>
      {{/if}}
  </div>
<div id="footer">
    <div id="footer-block1">
        <span>
            <a class="navbar-brand" href="#">
                <img src="https://st2.depositphotos.com/8301258/11963/v/950/depositphotos_119634124-stock-illustration-restaurant-logo-cutlery-design.jpg"
                    width="80" height="80" alt="" id="logo">FLAVOURS
            </a>
        </span><br><br>
        <span>
            Lorem ipsum dolor sit amet,
            consectetur adipiscing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna
            aliqua. Ut enim ad minim veniam, quis nostrud
            exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat.
        </span>
    </div>
    <div id="footer-block2">
        <span>
            <h5>Important Links</h5>
        </span>
        <span><a href="#">BLog</a></span><br>
        <span><a href="#">Shop Partners</a></span><br>
        <span><a href="#">Privacy Policy</a></span><br>
        <span><a href="#">Terms & Condition</a></span><br>
    </div>

    <div id="footer-block3">
        <span>
            <h5>Contact Us</h5>
        </span>
        <span>
            Lorem ipsum dolor sit amet,
            consectetur adipiscing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna
            aliqua. Ut enim ad minim veniam, quis nostrud
            exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat.
        </span>
    </div>
</div>