<nav class="navbar navbar-expand-lg navbar-light bg-warning">
  <a class="navbar-brand text-light rounded-pill" href="/">
                <img src="https://st2.depositphotos.com/8301258/11963/v/950/depositphotos_119634124-stock-illustration-restaurant-logo-cutlery-design.jpg"
                    width="80" height="60" alt="" id="logo"> FLAVOR
            </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link bg-light text-warning rounded-pill mx-1" href="/booking/details">
        <i class="fas fa-ticket-alt mx-2"></i>Ticket
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link bg-light text-warning rounded-pill mx-1" href="/shopping-cart"><i class="fas fa-utensils mx-2"></i>Meal
        <span class="badge badge-warning text-light">{{session.cart.totalQty}}</span></a>
      </li>
      <li class="nav-item">
        {{#if login}}
        <a class="nav-link bg-light text-warning rounded-pill mx-1" href="/logout"><i class="fas fa-sign-out-alt mx-2"></i>Logout</a>
        {{else}}
        <a class="nav-link bg-light text-warning rounded-pill mx-1" href="/LOGIN_ACCESS"><i class="fas fa-sign-in-alt mx-2"></i>Login</a>
        {{/if}}
      </li>
      
    </ul>
    
  </div>
</nav>


<h2 class="lead my-2 text-center";>Order Your Favorite Dishes</h2>
{{#each products}}

<div class="row mx-1">
  {{#each this}}
    <div class="col-sm-6 col-md-3">
        <div class="thumbnail border border-secondary mt-5 ">
            <img src="{{this.imagePath}}" alt="..." class="img-responsive rounded-pill">
            <div class="caption text-center">
                <div class="lead">{{this.title}}</div>
                <p class="description">{{this.description}}</p>
                <div class="d-block">
                    <div class="mb-2">Rs {{this.price}}</div>
                    <a href="/add-to-cart/{{this._id}}" class="btn btn-success w-50 mb-4" role="button">Add Item</a>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
    </div>
    {{/each}}
    </div>

    <div id="footer">
    <div id="footer-block1">
        <span>
            <a class="navbar-brand" href="#">
                <img src="https://st2.depositphotos.com/8301258/11963/v/950/depositphotos_119634124-stock-illustration-restaurant-logo-cutlery-design.jpg"
                    width="80" height="80" alt="" id="logo">FLAVOURS
            </a>
        </span><br><br>
        <span>
            Lorem ipsum dolor sit amet,
            consectetur adipiscing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna
            aliqua. Ut enim ad minim veniam, quis nostrud
            exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat.
        </span>
    </div>
    <div id="footer-block2">
        <span>
            <h5>Important Links</h5>
        </span>
        <span><a href="#">BLog</a></span><br>
        <span><a href="#">Shop Partners</a></span><br>
        <span><a href="#">Privacy Policy</a></span><br>
        <span><a href="#">Terms & Condition</a></span><br>
    </div>

    <div id="footer-block3">
        <span>
            <h5>Contact Us</h5>
        </span>
        <span>
            Lorem ipsum dolor sit amet,
            consectetur adipiscing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna
            aliqua. Ut enim ad minim veniam, quis nostrud
            exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat.
        </span>
    </div>
</div>