<div class=" mx-5 my-5">
    <div class="lead">
        
        <ul style="list-style: none;">
            <li>Order_id={{result.ORDERID}}</li>
            <li>Transaction_id={{result.TXNID}}</li>
            <li>Transaction_amount={{result.TXNAMOUNT}}</li>
            <li>Payment_mode={{result.PAYMENTMODE}}</li>
            <li>Status={{result.STATUS}}</li>
            <li>Bank_transaction_id={{result.BANKTXNID}}</li>
            <li>Bank_name={{result.BANKNAME}}</li>
            <a class="btn btn-primary my-3" href="/"><i class="fas fa-arrow-left"></i>
Homepage</a>
        <strong class="my-2 d-block">Transaction is successfull</strong>
        </ul>
       
    </div>
</div>
